.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 120px;
    width: calc(100vw - 770px);
    text-align: left;
    height: calc(100% - 80px);
    transition: all 500ms ease;
    background-color: var(--primary-bg);
    overflow-x: hidden;
    overflow-y: scroll;

    &.dark {
        --primary-color: white;
        --secondary-color: #d0d6e0;
        --primary-border: #23252a;
        --secondary-border: ;
        --primary-bg: #08090a;
        --secondary-bg: #1c1c1f;
        --secondary-border: #62666d;
    }

    &.light {
        --primary-color: black;
        --secondary-color: #3c4149;
        --primary-border: #e9e8ea;
        --secondary-border: ;
        --primary-bg: white;
        --secondary-bg: #f9f8f9;
        --secondary-border: #62666d;
    }

    .path {
        color: var(--secondary-color);
    }

    .subheading {
        color: var(--primary-color);
    }
    .heading {
        color: var(--primary-color);
    }

    .headingDivider {
        border: 3px solid var(--primary-border);
        border-radius: 6px;
        width: 10%;
    }

    .subheadingDivider {
        border: 1px solid var(--primary-border);
        border-radius: 6px;
        width: 100%;
    }

    .text {
        font-size: 1rem;
        color: var(--secondary-color);
    }

    .list {
        font-size: 1rem;
        padding: 0 1rem;

        .listItem {
            color: var(--secondary-color);
            margin-bottom: 20%;

            &::marker {
                color: var(--secondary-border);
            }
        }
    }

    .image {
        width: 100%;
        border-radius: 6px;
    }

    .note {
        width: calc(100% - 36px);
        padding: 14px;
        background-color: var(--secondary-bg);
        border: 1px solid var(--primary-border);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        font-size: 0.9rem;

        .noteContent {
            margin: 0;
            color: var(--secondary-color);
        }

        .noteHeader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 8px;

            &.moon {
                color: #f76f6d;
            }

            .noteIcon {
                padding-right: 8px;
            }

            .noteHeading {
                text-shadow: 0 0 10px #f76f6d;
                margin: 0;
            }
        }
    }

    .image,
    .list,
    .path,
    .subheading,
    .heading,
    .text,
    .headingDivider,
    .note,
    .subheadingDivider {
        margin: 1% 0;
        transition: all 500ms ease;
    }
}
