.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 120px;
    width: calc(100vw - 770px);
    text-align: left;
    height: calc(100% - 120px);
    transition: all 500ms ease;
    background-color: var(--primary-bg);
    overflow-x: hidden;
    overflow-y: scroll;

    &.dark {
        --primary-color: white;
        --secondary-color: #d0d6e0;
        --primary-border: #23252a;
        --secondary-border: ;
        --primary-bg: #08090a;
    }

    &.light {
        --primary-color: black;
        --secondary-color: #3c4149;
        --primary-border: #e9e8ea;
        --secondary-border: ;
        --primary-bg: white;
    }

    .path {
        color: var(--secondary-color);
    }

    .subheading {
        color: var(--primary-color);
    }
    .heading {
        color: var(--primary-color);
    }

    .headingDivider {
        border: 3px solid var(--primary-border);
        border-radius: 6px;
        width: 10%;
    }

    .subheadingDivider {
        border: 1px solid var(--primary-border);
        border-radius: 6px;
        width: 100%;
    }

    .text {
        font-size: 1rem;
        color: var(--secondary-color);
    }

    .path,
    .subheading,
    .heading,
    .text,
    .headingDivider,
    .subheadingDivider {
        margin: 1% 0;
        transition: all 500ms ease;
    }
}
