.container {
	width: 250px;
	padding: 36px;
	position: relative;
	height: min-content;

	.border {
		position: absolute;
		left: 0;
		height: calc(100% - 72px);
		width: 1px;
		background-color: #23252a;
	}

	.list {
		padding: 0;
		list-style: none;
		text-align: left;
	}
}
